<h1 class="text-center">Contact</h1>

<p class="text-info" ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>

<form ng-submit="salva()">
    <div class="form-group">
        <label for="nome">Complete Name</label>
        <input id="nome" name="nome" type="text" class="form-control" required ng-model="contato.nome">
    </div>

    <div class="form-group">
        <label for="email">Email</label>

        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">@</div>
            </div>

            <input type="email" class="form-control" id="email" name="email" required ng-model="contato.email" placeholder="email@exemplo.com">
        </div>
    </div>

    <div class="form-group mt-4">
        <a href="#/" class="btn btn-secondary">Voltar</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>