<div class="jumbotron">
    <h1 class="text-center">Welcome to Contatooh</h1>
</div>

<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>


<a class="btn btn-primary mb-3" ng-href="#/contato">New Contact</a>

<p class="text-info" ng-show="contatos.length">Registered Contacts: {{contatos.length}}</p>

<p class="text-danger" ng-hide="contatos.length">
    There is no registered contacts
</p>

<input type="search" class="form-control mb-3" placeholder="parte do nome" ng-model="filtro">

<div class="container">
    <table class="table table-hover table-bordered">
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th class="text-center">Action</th>
        </tr>

        <tr ng-repeat="contato in contatos | filter: filtro">
            <td><a ng-href="#/contato/{{contato._id}}">{{contato.nome}}</a></td>
            <td>{{contato.email}}</td>
            <td class="text-center">
                <button class="btn btn-danger" ng-click="remove(contato)">Delete</button>
            </td>
        </tr>
    </table>
</div>